<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.css">
    <title>Document</title>

</head>

<body>



    <nav class=" border-y-[1px] h-14  border-gray-300 hidden lg:flex items-center justify-center  ">

        <div class="   ">
            <ul class="parent uppercase flex items-center  justify-between gap-14">

                <!--Home -->
                <li class="relative z-10 group item-list">
                    <!-- Added group class for state management -->
                    <a href="/" class=" py-3 text-sm tracking-widest text-gray-900 group-hover:text-red-500 group-active:text-red-500">
                            Home
                            <span
                                class="ti-angle-down ml-3 text-[8px] text-gray-300 group-hover:text-red-500 group-active:text-red-500"></span>
                        </a>
                    <ul class=" child absolute bg-white mt-4 hidden group-hover:block min-w-max border-x-[1px] text-gray-500 text-[13px] border-gray-200  ">
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    Slider Style
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    classic Style
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    List Style
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    grid Style
                                </a>
                        </li>
                    </ul>

                </li>

                <!--features -->
                <li class="relative z-10 group item-list">
                    <!-- Added group class for state management -->
                    <a href="/" class=" py-3 text-sm tracking-widest text-gray-900 group-hover:text-red-500 group-active:text-red-500">
                            Features
                            <span
                                class="ti-angle-down ml-3 text-[8px] text-gray-300 group-hover:text-red-500 group-active:text-red-500"></span>
                        </a>
                    <ul class=" child absolute bg-white mt-4 hidden group-hover:block min-w-max border-x-[1px] text-gray-500 text-[13px] border-gray-200  ">
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    post styles
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    header Style
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    Footer Style
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    category
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    category
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    layouts & templates
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200">
                            <a href="#" class="hover:text-red-500 py-3 tracking-widest ">
                                    galliries
                                </a>
                        </li>
                    </ul>

                </li>
                <!--shop -->

                <li class="relative z-10 group ">
                    <!-- Added group class for state management -->
                    <a href=" / " class=" py-3 text-sm tracking-widest text-gray-900 group-hover:text-red-500 group-active:text-red-500 ">
                            shop
                            <span
                                class="ti-angle-down ml-3 text-[8px] text-gray-300 group-hover:text-red-500 group-active:text-red-500 "></span>
                        </a>
                    <ul class=" child absolute bg-white mt-4 hidden group-hover:block min-w-max border-x-[1px] text-gray-500 text-[13px] border-gray-200 ">
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200 ">
                            <a href="# " class="hover:text-red-500 py-3 tracking-widest ">
                                    the shop
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200 ">
                            <a href="# " class="hover:text-red-500 py-3 tracking-widest ">
                                    cart
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200 ">
                            <a href="# " class="hover:text-red-500 py-3 tracking-widest ">
                                    my account
                                </a>
                        </li>
                        <li class=" relative border-b-[1px] px-5 py-2 border-gray-200 ">
                            <a href="# " class="hover:text-red-500 py-3 tracking-widest ">
                                    checkout
                                </a>
                        </li>
                    </ul>

                </li>
                <!--Travel -->

                <li class="relative z-10 group ">
                    <!-- Added group class for state management -->
                    <a href="/ " class="uppercase py-3 text-sm tracking-widest text-gray-900 group-hover:text-red-500 group-active:text-red-500 ">
                            travel
                            <span
                                class="ti-angle-down ml-3 text-[8px] text-gray-300 group-hover:text-red-500 group-active:text-red-500 "></span>
                        </a>
                    <div class=" child absolute bg-white mt-4 px-10 py-5 hidden group-hover:flex gap-10 translate-x-[-50%] text-gray-500 ">
                        <div class="1 w-48 cursor-pointer ">
                            <a href="# ">
                                <img class=" hover:opacity-75 w-48 h-36 " src="https://cheerup2.theme-sphere.com/miranda/wp-content/uploads/sites/4/2016/05/1697-768x1152.jpg " alt>
                                <h2 class=" text-center text-gray-700 font-bold text-md ">Happy adventure in the woods</h2>
                                <p class=" text-center text-sm tracking-wider ">May 14, 2016</p>
                            </a>
                        </div>
                        <div class="2 w-48 cursor-pointer ">
                            <a href>
                                <img class=" hover:opacity-75 w-48 h-36 " src="https://cheerup2.theme-sphere.com/miranda/wp-content/uploads/sites/4/2016/05/1697-768x1152.jpg " alt>
                                <h2 class=" text-center text-gray-700 font-bold text-md ">Old cars never go out of style</h2>
                                <p class=" text-center text-sm tracking-wider ">May 14, 2016</p>
                            </a>
                        </div>

                        <div class="3 w-48 cursor-pointer ">
                            <a href>
                                <img class=" hover:opacity-75 w-48 h-36 " src="https://cheerup2.theme-sphere.com/miranda/wp-content/uploads/sites/4/2016/05/1697-768x1152.jpg " alt>
                                <h2 class=" text-center text-gray-700 font-bold text-md ">A Beautiful Glass Tunel Road</h2>
                                <p class=" text-center text-sm tracking-wider ">May 14, 2016</p>
                            </a>
                        </div>

                        <div class="4 w-48 cursor-pointer ">
                            <a href>
                                <img class=" hover:opacity-75 w-48 h-36 " src="https://cheerup2.theme-sphere.com/miranda/wp-content/uploads/sites/4/2016/05/1697-768x1152.jpg " alt>
                                <h2 class=" text-center text-gray-700 font-bold text-md ">A Hut in the Middle of nowhere</h2>
                                <p class=" text-center text-sm tracking-wider ">May 14, 2016</p>
                            </a>
                        </div>

                    </div>

                </li>

                <!--buy theme -->

                <li class="group">
                    <a href="https://themeforest.net/item/cheerup-blog-magazine-wordpress-blog-theme/16430770?irgwc=1&clickid=wweXkQzNexycUD7SvOW23Qi-UksTeVzKCyInXM0&iradid=275988&irpid=364990&iradtype=ONLINE_TRACKING_LINK&irmptype=mediapartner&mp_value1=&utm_campaign=af_impact_radius_364990&utm_medium=affiliate&utm_source=impact_radius"
                        class="uppercase py-3 text-sm tracking-widest text-gray-900 group-hover:text-red-500 group-active:text-red-500">buy
                            theme</a>
                </li>

                <li class="nav-icons flex">
                    <a href="#">
                        <span class=" text-sm font-bold px-5 border-r-2 border-gray-300">
                                <i class="ti-search "></i></span>
                    </a>
                    <div class="cart-action relative px-5">
                        <a href="#" class="cart-link relative">
                            <i class="tsi ti-shopping-cart  text-xl"></i>
                            <span class="counter absolute bg-red-500 w-[15px] h-[15px] grid place-content-center text-white top-[-8px] right-[-5px] text-[10px] rounded-full" id="cartCounter">0</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="cart">
            <a href="#">
                <span></span>
            </a>
        </div>

    </nav>





</body>

</html>