<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="top.css">
    <title>Document</title>
</head>

<body>
    <div class="top-container flex items-center justify-between h-[6vh] bg-black w-full  md:px-10 lg:px-24  text-gray-400">
        <div class="left-part flex px-2 gap-3 ">
            <div class="hammer-burg lg:hidden flex flex-col items-center justify-center self-center w-5 h-6 space-y-1  cursor-pointer">
                <span class=" block w-full h-[2px] bg-gray-200 rounded-full"></span>
                <span class=" block w-full h-[2px] bg-gray-200 rounded-full"></span>
                <span class=" block w-full h-[2px] bg-gray-200 rounded-full"></span>
            </div>
            <div class="hidden md:flex links text-center  items-center justify-center uppercase tracking-[0.2vw] text-[10px]">
                <p class=" text-center">Latest Posts:</p>

                <ul class=" ml-5 text-center text-gray-400 hover:text-gray-200">
                    <li class=" text-pointer">
                        <a href="/" class=" text-decoration-none text-reset">My Shiny new backpack</a>
                    </li>
                </ul>
            </div>


        </div>
        <div class=" right-part  px-2 ">
            <ul class="  flex items-center justify-between text-center text-gray-400 gap-2 ">
                <li>
                    <a href="#" class="ti-facebook text-decoration-none text-reset" target="_blank"></a>
                </li>
                <li>
                    <a href="#" class="ti-twitter text-decoration-none text-reset" target="_blank"></a>
                </li>
                <li>
                    <a href="#" class="ti-tiktok" target="_blank"></a>
                </li>
                <li>
                    <a href="#" class="ti-instagram text-decoration-none text-reset" target="_blank"></a>
                </li>
                <li>
                    <a href="#" class="ti-pinterest text-decoration-none text-reset" target="_blank"></a>
                </li>
                <li>
                    <a href="#" class="ti-vimeo text-decoration-none text-reset" target="_blank"></a>
                </li>
            </ul>

        </div>
    </div>
</body>

</html>